:root { 
  --prime-color: #ffffff;
  --second-color: #000000; 
  --third-color: #8301ef; /*#9a4dff*/
  --fourth-color: rgba(0, 0, 0, 0.15);
  --prime-font: "Epilogue-Regular", sans-serif;
}


@font-face {
  font-family: "Epilogue-Regular";
  src: url("font/Epilogue-Regular.woff2");
  font-weight: normal;
  font-style: normal;

}

::selection {
    color: #ffffff;
    background-color: var(--third-color);
}

* {
  box-sizing: border-box;
  font-family: var(--prime-font);
   -webkit-hyphens: auto; 
  hyphens: auto; 
}

body {
  margin: 0;
}


main {
	width: 100%;
	/*background-color: red;*/
	min-height: 100vh;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10rem 0 0 0;
}


main header {
	width: 80%;
	height: 2.5rem;
	position: fixed;
	top: 0;
	background-color: var(--prime-color);
	z-index: 3;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-self: center;
}

main header a {
	padding: 0 5px 0 0;
}

main section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 4rem 0;
}


main section article {
	width:  80%;
	max-width: 100rem;
	min-height: 35vh;
	position: relative;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main section article .unterschrift {
	width: 100%;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

main section article .claim {
	width: 80%;
	font-size: 1.8rem;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


main section article .text {
	width: 100%;
	font-size: 1.2rem;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;	
}

main section article .text p {
	width: 70%;
	margin: 0 25px 20px 0;
}

@media (min-width: 800px) {
main section article .text p {
    width: 30%;
  }
 }


main section article .vorschaubild {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

main section article .vorschautext {
	position: absolute;
	top: 4rem;
	left: -2rem;
	margin: 0;
	z-index: 2;
	font-size: 1.8rem;
	opacity: 0;
}

main section article a:hover .vorschautext {
	opacity: 1;
	color: var(--third-color);
	transition: all 0.3s ease;
}

main section article a:active .vorschautext {
	opacity: 1;
	color: var(--third-color);
	transition: all 0.3s ease;
}

main section article a:focus-visible .vorschautext {
  outline: none;
  background-color: var(--third-color);
}

@media (min-width: 800px) {
main section article .vorschautext {
    width: 50%;
  }
 }


main section article span {
	background-color: var(--third-color);
	color: var(--prime-color);
}


main section article .kategorien {
	width: 100%;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
}


main footer {
	width: 80%;
	min-height: 10rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	align-items: flex-end;
}



@media (min-width: 600px) {
main footer div {
	width: 50%;
	padding: 0 50px 0 0;
}
 }


img {
	width: 100%;
}

button {
  background-color: var(--fourth-color);
  border: none;
  padding: 5px 6px 4px 6px;
  margin: 4px 6px 4px 0;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--third-color);
  color: var(--prime-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
  background-color: var(--fourth-color);
}



a:link, a:active, a:visited {
  color: var(--third-color);
  text-decoration: none;
}

a:hover {
  color: var(--second-color);
  transition: all 0.3s ease;
}

a:focus-visible {
  outline: none;
  background-color: var(--fourth-color);
}



input, textarea {
  width: 100%;
  border: none;
  padding: 4px;
  margin: 6px 0 10px 0;
  font-family: var(--prime-font);
  color: var(--third-color);
  border-bottom: 1px solid var(--second-color); 
  background-color: #ffffff00; 
}

input:focus-visible, textarea:focus-visible, button:focus-visible {
  outline: none;
}

/*Snap Scroll, wenn der Benutzer nicht Animationen deaktivert hat*/
@media (prefers-reduced-motion: no-preference) {
  html,
  body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-padding: 0;
  }

  section {
    scroll-snap-align: start;
    scroll-margin: 2.5rem;
  }
}


